* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d4444;
}

.currency-converter {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0.5, 0.5);
    backdrop-filter: blur(8px);
    padding: 1.5rem 1.875rem;
    text-align: center;
}

.currency-converter h1 {
    font-size: 2.2rem;
    color: #202124;
    margin-bottom: 2.5rem;
}

.currency-converter .input-container {
    border: 2px solid #bbbbdb;
    border-radius: 4px;
    margin-block: 20px;
}

.currency-converter .input-container:focus-within {
    border-color: #0056b3;
}

.currency-converter .input-container input,
.currency-converter .input-container select {
    width: 9.375rem;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px;
    overflow: hidden;
}

.currency-converter .arrow {
    transform: rotate(90deg);
    font-size: 32px;
}

.currency-converter .result{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}


/* Responsive */

