body {
    font-family: "Open Sans", sans-serif;
    background-color: #F2F4F7;
}



/* login page */

.center-div {
    padding-top: 10%;
}

.login-div {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

.btn {
    background-color: #0861F2 !important;
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    opacity: .9;
}


/* for login password visibility*/
.password-toggle {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}